@media only screen and (min-width: 320px) and (max-width: 800px) {
  .tlabel {
    position: absolute;
    top: 18px;
    left: 0;
    transition: 0.15s ease-in-out;
    color: #a0a0a6;
    pointer-events: none;
    text-transform: uppercase;
    font-size: 14px;
  }

  .tinput:focus ~ label {
    font-size: 14px;
  }

  .tinput:valid ~ label {
    font-size: 14px;
  }

  .tinput:focus ~ label {
    font-size: 9px;
    top: 0;
  }

  .label_in .array_down,
.label_in .search {
    bottom: 17px;
  }

  .check_block {
    width: 25%;
    margin-top: 20px;
  }

  .component_tags {
    margin: 0 0 25px 0;
  }
  .component_tags_adaptive {
    margin-bottom: 0;
  }

  .modal_line .nav_links {
    width: 100%;
  }

  .mobilis {
    display: block;
    width: 100% !important;
    float: left !important;
    text-align: left;
    margin-bottom: 25px;
  }

  .mobilis span {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #383A41;
  }

  .nav ul li .sub_menu li {
    float: left;
    padding: 0;
    margin-bottom: 12px;
    width: 100%;
    text-align: left;
  }

  .nav_parent.active .ico_t {
    display: block;
    color: #383A41;
    text-transform: none;
    font-size: 12px;
    margin: 0;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -14px;
  }

  .nav_parent.active img {
    opacity: 1;
  }

  .nav_parent.active + .sub_menu {
    float: left;
    display: block;
    position: fixed;
    top: auto;
    width: 100%;
    background: #fff;
    height: 100%;
    z-index: 10;
    left: 0;
    box-sizing: border-box;
    bottom: 60px;
  }

  .nav_parent.active .ico {
    display: block;
    float: left;
    margin-top: -5px;
    margin-bottom: 5px;
  }

  .nav ul li .sub_menu li a {
    padding: 16px 12px;
    background: #EBEEFA !important;
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #32AAA7;
  }

  .left_menu_top {
    display: none;
  }

  .left_menu {
    display: none;
    left: 0;
    top: auto;
    width: 100%;
    height: 60px;
    background: #FCFCFC;
    box-shadow: none;
    padding: 0;
    box-sizing: border-box;
    border-top: 1px solid #DEE2F3;
    bottom: 0;
  }

  .nav ul li {
    margin-bottom: 5px;
    width: auto;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    float: left;
    padding-top: 15px;
    padding-bottom: 0;
    position: relative;
  }

  .nav ul li .sub_menu li a {
    padding: 16px 12px;
    background: #EBEEFA !important;
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #32AAA7 !important;
  }

  .left_menu:hover {
    width: 100%;
  }

  .left_menu:hover .ico_t {
    display: none;
  }

  .left_menu:hover .nav ul li a {
    background: none;
  }

  .left_menu:hover .nav ul li:hover a {
    background: none;
    color: #383A41;
  }

  .nav ul li:hover {
    background: none !important;
  }

  .nav_parent.active .ico_t {
    display: block !important;
    color: #383A41;
    text-transform: none;
    font-size: 12px;
    margin: 0;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -14px;
    text-align: center;
  }

  .nav ul li {
    margin-bottom: 5px;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    float: left;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
  }

  .nav ul li a.nav_parent {
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 15px;
  }

  .nav_parent.active .ico_t {
    display: block !important;
    color: #383A41;
    text-transform: none;
    margin: 0;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
  }

  .left_menu {
    z-index: 99999;
  }

  .nav ul li:hover .sub_menu {
    display: none;
  }

  .nav_parent.active + .sub_menu {
    display: block !important;
  }

  .left_menu:hover .nav ul li.active a.nav_parent {
    background: none !important;
  }

  .footer {
    padding-left: 20px;
  }
  .footer_line a {
    display: block;
    margin-bottom: 10px;
  }

  .footer_line:hover .modal_line {
    display: none;
  }

  .footer_line:hover .title_line {
    display: block;
  }

  .modal_line.active {
    display: block !important;
    position: fixed;
    width: 100%;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    height: auto;
    z-index: 999;
  }

  .title_line_t.search {
    background: #fff url(../images/s_i.svg) no-repeat 95% center;
    float: left;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    text-align: left;
    padding-top: 9px;
    padding-bottom: 10px;
  }

  .title_line_t.filter {
    background: url(../images/filt.svg) no-repeat 95% center;
    padding-left: 20px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
  }

  .title_line_t.transfer {
    background: url(../images/transfer.svg) no-repeat 95% center;
    float: left;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    text-align: left;
    height: 20px;
    line-height: 22px;
  }

  .modal_line.active .sortblock_param {
    float: left;
    width: 100%;
    margin-bottom: 0;
  }

  .r_p {
    float: left;
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .l_p {
    float: left;
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;
  }

  h1 {
    font-size: 24px;
    line-height: 24px;
  }

  .label_in {
    position: relative;
    padding: 10px 0;
  }

  .w50.last {
    margin-left: 0;
  }

  .content {
    float: left;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    padding-top: 40px;
    padding-right: 0;
    max-width: 100%;
  }

  .c_head {
    position: relative;
    width: 100%;
    height: 40px;
    float: left;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .c_head_a {
    margin-bottom: 35px;
  }
  .c_head_adaptive {
    margin-bottom: 0;
  }

  .c_head a {
    display: block;
    position: absolute;
    left: 25px;
    top: 0;
  }

  .component_head {
    width: 100%;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    float: left;
    color: #383A41;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .component_head .nav_links a {
    width: 100%;
  }

  .component_body {
    padding-bottom: 30px !important;
  }

  .component_body_open {
    margin-bottom: 0;
  }

  .brd_green {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #32AAA7;
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
  }

  .for_adaptive {
    display: block;
  }

  .without_adaptive {
    display: none;
  }

  .component {
    position: relative;
    padding-top: 20px;
    float: left;
    width: 100%;
    padding-bottom: 120px;
  }
  .component_adaptive {
    padding-top: 0;
  }

  .middle_part {
    float: left;
    width: 100%;
    overflow: scroll;
  }

  .component_head_sort label {
    font-size: 12px !important;
    line-height: 12px !important;
    color: #9A9A9A !important;
  }

  .component_head_sort {
    width: 100%;
  }
  .component_head_sort_adaptive {
    margin-bottom: 15px;
  }

  .f_part {
    padding-bottom: 0px;
  }

  .line_param_input.short {
    width: 100%;
    margin-right: 0;
    padding-right: 5%;
    box-sizing: border-box;
  }

  .bgs {
    width: 100% !important;
    font-size: 16px !important;
  }

  body.fixed {
    overflow: hidden;
  }

  body.hidden {
    overflow: hidden;
  }

  .modal_calend {
    position: fixed;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: none;
    top: 0;
    z-index: 99999;
    height: 100%;
    overflow: scroll;
  }

  .modal_calend_inner {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: scroll;
    padding-right: 5%;
    box-sizing: border-box;
    padding-bottom: 100px;
  }

  .modal_calend_left {
    float: left;
    margin-right: 0;
  }

  .close_clnd {
    right: 40px;
    z-index: 9999;
  }

  .content.login .nav_links {
    margin-top: 15px;
    float: left;
    width: 100%;
    padding-right: 0;
    box-sizing: border-box;
  }

  .otch_p.shorttable {
    width: 90%;
  }

  .reda .hidden_component {
    display: block;
    padding-right: 5%;
    box-sizing: border-box;
  }

  .r_p.regak {
    float: left;
    width: 100%;
    padding-right: 5%;
    box-sizing: border-box;
  }

  .content.login .component {
    margin: 0 auto;
    width: 90%;
  }

  .line_param {
    margin-bottom: 10px;
  }

  .sortblock_param {
    float: left;
    width: 100%;
    margin-bottom: 0;
  }
  .sortblock_param_adaptive {
    margin: 25px 0;
  }

  .nav_top {
    width: 100%;
    float: left;
    margin: 15px 0;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .nav_top_adaptive li {
    clear: both;
    margin: 5px 0;
  }

  .header .acc_n_ico {
    margin-left: 0;
  }

  .header .acc_b_menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    float: right;
  }

  .header .acc_b {
    position: relative;
    width: 100%;
    margin-right: 0;
    float: left;
  }

  .header .acc_n {
    float: left;
    margin-left: 20px;
  }
  .header .acc_n_text {
    float: right;
    margin-left: 15px;
  }

  .nav_links {
    margin-top: 15px;
    float: left;
    width: 100%;
    padding-right: 20px;
  }

  .nav_links_t {
    width: 94%;
    padding-right: 0;
  }

  .modal_check_block {
    width: 100% !important;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .modal_check_block:last-child {
    text-align: left !important;
  }
  .modal_check_block:last-child label {
    margin-left: 20px !important;
  }

  .closebig {
    right: 20px;
  }

  .component_warning {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .pr_names {
    font-size: 20px;
    margin-right: 15px;
  }

  .line_param_input {
    position: relative;
    width: 100%;
  }

  .line_param_input_t {
    width: 100%;
    float: left;
  }
  .line_param_input_t:nth-of-type(2) {
    width: 100%;
    margin: 0 0 10px 0;
  }

  .select_one {
    margin-right: 15px;
  }

  .modal_send {
    position: fixed;
    padding: 20px;
    font-family: FuturaPT-Book;
    bottom: 0;
  }
  .modal_send h2 {
    font-size: 20px;
  }
  .modal_send .closebig {
    display: none;
  }
  .modal_send .l_p,
.modal_send .r_p {
    display: none;
  }
  .modal_send .l_p_adaptive {
    display: block;
  }

  .overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(56, 58, 65, 0.8);
    z-index: 1;
  }

  .month_select {
    margin: 15px 0;
  }

  .title_adaptive {
    margin-top: 20px;
  }

  .component_head_cart_l,
.component_head_cart_r {
    width: 100%;
  }

  .component_head_cart_l .cart_line_param,
.component_head_cart_r .cart_line_param {
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
  }

  .line_param_cart-edit,
.line_param_cart {
    position: relative;
    padding-bottom: 40px;
  }
  .line_param_cart-edit .l_p_cart,
.line_param_cart-edit .c_p_cart,
.line_param_cart .l_p_cart,
.line_param_cart .c_p_cart {
    margin-bottom: 25px;
  }
  .line_param_cart-edit .r_p_cart,
.line_param_cart .r_p_cart {
    position: absolute;
    bottom: 15px;
    left: 45px;
    right: 0;
    top: auto;
  }

  .line_param_cart-edit .l_p_cart,
.line_param_cart-edit .c_p_cart,
.line_param_cart .l_p_cart,
.line_param_cart .c_p_cart {
    display: block;
    position: relative;
    width: 100%;
  }

  .l_p_cart_adaptive,
.r_p_cart_adaptive {
    width: 48%;
  }

  .r_p_cart_adaptive {
    padding-right: 0;
  }
  .r_p_cart_adaptive .nav_links {
    display: none;
  }

  .cart_sub_title {
    margin: 12px 0;
  }

  .nav_links_adaptive {
    display: block;
    padding-right: 0;
  }

  .footer_line a.footer_line_link {
    margin-right: 0;
  }
}