@import "reset";

//Шрифты

@font-face {
  font-family: 'FuturaPT-Book';
  src: url('../fonts/FuturaPT-Book.ttf');
  src: local('вє'), url('../fonts/FuturaPT-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Demi';
  src: url('../fonts/FuturaPT-Demi.ttf');
  src: local('вє'), url('../fonts/FuturaPT-Demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//Общие стили

body {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.overlay {
  display: none;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  color: #383A41;
  margin-bottom: 30px;
  font-family: FuturaPT-Demi;
}

h3 {
  font-family: FuturaPT-Book;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #383A41;
  margin-bottom: 24px;
}

h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  color: #383A41;
  font-family: FuturaPT-Demi;
  margin-bottom: 25px;
  text-transform: uppercase
}

input[type="text"] {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #C4C4C4;
  height: 30px;
  font-size: 14px;
  line-height: 16px;
  color: #9A9A9A;
}

.fullwidth  {
  width: 100%;
  float: left;
}

.full_content {
  width: 100%;
  position: relative;
  float: left;
  box-sizing: border-box;
}

//Header

.header {
  width: 100%;
  height: 56px;
  float: left;
  background: #32AAA7;

  .acc_b {
    position: relative;
    height: 60px;
    float: right;
    margin: 11px 40px 0 0;
  }

  .acc_n_text {
    float: left;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 9px;
    cursor: pointer;
  }

  .acc_n_ico {
    float: left;
    margin-left: 15px;
  }

  .acc_b_menu {
    display: none;
  }
}

//Левое меню

.left_menu {
  position: fixed;
  width: 100px;
  height: 100%;
  left: 0;
  top: 0;
  background: #FCFCFC;
  box-shadow: 0 0 16px 2px rgba(56, 58, 65, 0.24);
  padding: 0;
  box-sizing: border-box;
  z-index: 11;

  &:hover {
    width: 280px;

    .nav {
      text-align: left;

      ul li a:not(.active) {
        background: url(../images/array_down.png) no-repeat 100% center;
      }

      ul li a.active {
        background: url(../images/array_top.png) no-repeat 100% center;
        color: #383A41;
      }
    }

    .ico {
      width: auto;
    }

    .ico_t {
      display: block
    }

    .lhid {
      margin-left: 15px;
      display: inline;
    }
  }

  &_top {
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
  }
}

.lhid {
  margin-left: 15px;
  display: none;
}

.logo {
  border-bottom: 1px solid #DEE2F3;
  padding-bottom: 24px;

  img {
    max-width: 100%;
  }
}

//тексты меню и подменю

.nav {
  width: 100%;
  padding-top: 0;
  text-align: center;

  ul {
    li {
      width: 100%;
      float: left;
      margin-bottom: 5px;
      box-sizing: border-box;
      padding: 10px 24px;

      a {
        display: block;
        width: 100%;
        float: left;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: #9A9A9A;
      }

      &:hover {
        background: #EBEEFA;

        a {
          background: #EBEEFA;
          color:#383A41;
        }
      }
    }
  }
}

.left_menu:hover .nav ul li a.active + .sub_menu {
  display:block
}

.l_p_adaptive {
  display: none;
}

//Подменю

.sub_menu {
  display: none;
  float: left;
  padding-left: 15px;

  li a {
    font-size: 14px;
    line-height: 16px;
    color: #383A41;
    text-transform: none;
    background: none !important;
  }

  li a:hover {
    color: #2EAEEA !important;
  }
}

.ico {
  display: block;
  width: 100%;
  float: left;

  &_t {
    display: none;
    float: left;
    margin-left: 15px;
    padding-top: 5px;
  }
}

//Основной контент

.content {
  width: 100%;
  max-width: 1920px;
  float: left;
  padding: 40px 40px 100px 120px;
  box-sizing: border-box;
}

.component {
  position: relative;

  &_head {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #383A41;

    .nav_links {
      a {
        width: 25%;
      }
    }

    &_sort {
      width: 35%;

      label {
        font-family: FuturaPT-Book;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        color: #9A9A9A;
      }

      input[type='text'] {
        font-family: FuturaPT-Book;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #383A41;
      }
    }
  }

  &_body {
    width: 100%;
    float: left;

    &_open {
      display: block;
      clear: both;
      margin-bottom: 32px;
    }
  }

  &_action {
    span {
      float: left;
      font-family: FuturaPT-Demi;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: #383A41;
      margin-right: 25px;
    }

    a {
      text-decoration: underline;
    }
  }

  &_tags {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    font-weight: bold;
  }
}

.w50 {
  display: block;
  width: 49%;
  float: left;
  box-sizing: border-box;
  margin-right: 0 !important;
}


//Блоки для инпутов
.line_param_input {
  position: relative;
  width: 100%;
}

.line_param_input_t {
  width: 49%;
  float: left;

  &:nth-of-type(2) {
    width: 49%;
    margin: 2px 0 0 15px;
  }
}

.for_adaptive {
  display: none;
}

.pr_names {
  float:left;
  margin-right:30px;
}

//Блоки для тегов
.tags {
  position: relative;
  float: left;
  padding: 6px 26px 6px 9px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 8px;
  font-style: normal;
  font-weight: 500;
  font-family: FuturaPT-Demi;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #383A41;

  &_title {
    text-transform: uppercase;
    font-family: FuturaPT-Demi;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #383A41;
  }
}

//Кнопка закрытия
.closes {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  background: url(../images/clear.svg) no-repeat center;
  cursor: pointer;
  right: 5px;
  top: 7px;
}

//Аватарка юзера
.user_avatar {
  width: 55px;
  height: 55px;
  float: left;
  border-radius: 100px;
  overflow: hidden;
  margin-right: 15px;
}

//Левая и правая части в основном контента
.l_p {
  width: 50%;
  float: left;
  padding-right: 5%;
  box-sizing: border-box;
}

.r_p {
  width: 50%;
  float: left;
  padding-right: 5%;
  box-sizing: border-box;
}

//Тоже блоки для инпутов
.line_param {
  position: relative;
  width: 100%;
  margin-bottom: 24px;

  &_top {
    font-family: FuturaPT-Book;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #9A9A9A;
  }

  &_bottom {
    font-family: FuturaPT-Book;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #383A41;
    padding: 4px 0 12px;
  }

  &_border {
    width: 100%;
    height: 1px;
    background-color: #DEE2F3;
  }

  &_clear {
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(../images/clear.svg) no-repeat center;
    right: -5px;
    top: 16px;
  }
}

//Ссылки
.more,
.open,
.open_dop,
.open_lic,
.hidden,
.hidden_action,
.hidden_lic {
  line-height: 16px;
  color: #32AAA7;
  border-bottom: 1px dotted;
}

.middle_part table a {
  font-family: FuturaPT-Book;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #32AAA7;
}

.middle_part table a.lt3_link_white,
.middle_part table a.lt3_link_green {
  font-family: FuturaPT-Demi;
  float: right;
  border-bottom-style: solid;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  margin-top: 5px;
}

.middle_part table a.lt3_link_account {
  font-family: FuturaPT-Book;
}

.middle_part table tr td.lt3_link_onaccount {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ED1A2E;
}

.middle_part table a.lt3_link_green {
  color: #037B78;
}

//Скрываемые блоки в карточке парнтнера
.hidden_action {
  margin-right: 25px;
}

.hidden_component,
.hidden_component_lic {
  display: none;
}

.hidden_component.active,
.hidden_component_lic.active {
  display: block;
}

//Футер
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10;
  padding-left: 120px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.24);

  &_line {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;

    a.footer_line_link {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      color: #32AAA7;
      margin-right: 25px;

      &:hover {
        color: #9A9A9A;
      }
    }

    .modal_line {
      display: none;
    }
  }

  .title_line {
    width: 100%;
    text-align: center;

    &_t {
      display: inline;
      text-align: center;
      padding-right: 40px;
      cursor: pointer;
      font-family: FuturaPT-Book;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
      color: #383A41;
    }

    &_t.search {
      background: url(../images/s_i.svg) no-repeat 100% center;
    }

    &_t.filter {
      background: url(../images/filt.svg) no-repeat 100% center;
    }

    &_t.burger {
      background: url(../images/burger.svg) no-repeat 100% center;
    }
  }
}

.footer.fill {
  background: #DEE2F3;
  box-shadow: none;
}

.title_total {
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #000000;
  font-family: FuturaPT-Demi;

  &_text {
    margin-right: 10px;
  }
}

//Модалка в футере
.modal_line {
  position: relative;
  width: 100%;
  float: left;
  padding-bottom: 30px;
  padding-right: 40px;
  box-sizing: border-box;
}

.c_head {
  padding-left: 0;

  &_a {
    margin-bottom: 15px;
  }

  a {
    display: none;
    line-height: 16px;
    color: #32AAA7;
  }

  a.back {
    font-family: FuturaPT-Book;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 12px;
    text-transform: uppercase;
    color: #32AAA7;
  }
}

.f_part {
  width: 100%;
  padding-bottom: 200px;
  float: left;
}

.nav_top {
  width: 100%;
  float: left;
  margin-bottom: 15px;

  span {
    font-weight: bold;
  }

  ul li {
    float: left;
    margin-right: 15px;

    a {
      font-family: FuturaPT-Book;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #32AAA7;

      &:hover {
        text-decoration: underline;
        color: #383A41;
      }
    }
  }
}

//Блок для таблиц и сама таблица
.middle_part {
  width: 100%;
  float: left;
  overflow-x: scroll;

  table {
    width: 100%;
    border: 1px solid #BABABA;
  }

  table tr {
    color: #000;
    border-bottom: 1px solid #9A9A9A;
  }

  table tr.start_info td:nth-child(1) {
    border-right: 1px solid #BABABA;
  }

  table tr.start_info td {
    color: #fff;
    background: #32AAA7;
  }

  table tr.level_two td {
    background: #BEBEBE;
  }

  table tr.level_three td {
    background: #C4C5C6;
  }

  table tr.level_four td {
    background: #CECFD0;
  }

  table tr.level_five td {
    background: #D4D5D7;
  }

  table tr.level_six td {
    background: #E3E3E4;
  }

  table tr th {
    position: relative;
    border-bottom: 1px solid #BABABA;
    background: #E5E5E5;
    padding: 8px 25px 8px 8px;
    font-family: FuturaPT-Demi;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #383A41;
    text-align: left;

    &:nth-child(1) {
      border-right: 1px solid #BABABA;
      width: 10%;
    }
  }

  table tr.head_t_th th {
    background-color: #DEE2F3;
  }

  table tr td {
    padding: 8px;
    font-family: FuturaPT-Demi;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #383A41;

    &:nth-child(1) {
      border-right: 1px solid #BABABA;
    }
  }
}

table.bordered tr th,
table.bordered tr td {
  border-right: 1px solid #BABABA;
}

.tbody td {
  padding-bottom: 25px !important;
  border-bottom: 1px solid #BABABA;
}

.tbody td:nth-last-child {
  border-bottom: none;
}

//Многострочные столбцы
.lin_t_top {
  width: 100%;
  float: left;

  a {
    font-family: FuturaPT-Demi;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #32AAA7;
    margin: 10px 0;
    border-bottom: 1px dotted;
  }
}

.lin_t_bot {
  width: 100%;
  float: left;
  margin-top: 10px;
  text-align: right;
}

.lt1 {
  display: block;
  width: 10px;
  float: left;
  font-size: 20px;
  margin-right: 5px;
}

.lt2 {
  display: block;
  float: left;
  font-size: 10px;
  margin-right: 8px;
}

.lt3 {
  display: block;
  float: left;
  margin-right: 8px;
}

.lt4 {
  display: block;
  float: left;
  margin-right: 8px;
}

.lt5 {
  display: block;
  float: right;
}

.lt6 {
  display: block;
}

//Кнопка закрытия большая
.closebig {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  background: url(../images/closebig.svg) no-repeat center;
  right: 40px;
}

.sortblock {
  &_head {
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #383A41;
    margin-bottom: 10px;
  }

  &_param {
    width: 100%;
    float: left;
    margin-bottom: 30px;
  }
}

//Радиобаттоны
.radio {
  float: left;
  margin-right: 20px;

  label {
    font-family: FuturaPT-Demi;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #383A41;
  }
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio + label {
  display: inline-flex;
  font-family: FuturaPT-Demi;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #383A41;
}

.custom-radio + label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: none;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  background-image: url("../images/uncheck.svg");
}

.custom-radio:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

.custom-radio:checked + label::before {
  background-image: url("../images/check.svg");
}

.custom-radio:disabled + label::before {
  background-color: #e9ecef;
}

//Блоки для инпутов
.label_in {
  position: relative;
  padding: 27px 0;

  .search {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(../images/s_i.svg) no-repeat center;
    cursor: pointer;
    right: 0;
    bottom: 35px;
  }

  .array_down {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    cursor: pointer;
    right: 0;
    bottom: 35px;
    background: url(../images/array_down.png) no-repeat center;
  }
}

.tlabel{
  position: absolute;
  top: 18px;
  transition: .15s ease-in-out;
  color: #a0a0a6;
  pointer-events: none;
  left: 0;
  font-family: FuturaPT-Book;
}

.tinput {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #C4C4C4;
  height: 30px;
  font-size: 14px;
  line-height: 16px;
  outline: none;

  &:hover{
    border-bottom: 1px solid  black;
  }

  &:focus{
   border-bottom: 1px solid #32AAA7;
 }

  &:focus ~ label{
    font-size: 9px;
    top: 25px;
  }
}

//Календарь
.month_select {
  width: 100%;
  float: left;
  margin-bottom: 30px;

  &_line {
    position: relative;
    width: 220px;
    float: left;
  }
}

.down {
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  background: url(../images/ml.svg) no-repeat center;
  cursor: pointer
}
.up {
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  background: url(../images/mr.svg) no-repeat center;
  cursor: pointer
}

.month_input {
  width: 170px !important;
  float: left;
  text-align: center;
  border: none !important;
  height: 24px !important;
  font-size: 14px;
  line-height: 16px;
  color: #383A41;
}

.calendar {
  display: block;
  background: url(../images/i_date.svg) no-repeat center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  bottom: 5px;
}

//Модалка с календарем
.modal_calend {
  display: none;
  position: absolute;
  width: 100%;
  background: #fff;
  left: 0;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.24);
}

.modal_calend.active {
  display: block
}

.modal_calend_inner .head_calend td {
  width: 40px;
  height: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.modal_calend_inner .body_calend td {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  width: 40px;
  height: 40px;
  text-align: center;
}

.end_day {
  background: #fff;
}

.month_day {
  background: #ceebea;
}

.current_day {
  background: #32aaa7;
  color: #fff !important;
}

.modal_calend_left {
  float: left;
  margin-right: 50px;
}

.modal_calend_inner {
  width: 600px;
  max-width: 600px;
  margin: 0 auto;
}

.modal_calend_inner .body_calend td {
  cursor: pointer;
}

.modal_calend_inner .body_calend td:hover {
  background: #32aaa7;
  color: #fff !important;
}

.modal_calend_inner {
  margin: 0 auto;
  width: 800px;
  max-width: 800px;
}
.modal_calend_right {
  float: left;
}
.mo_left_name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #383A41;
  display: block;
  width: 80%;
}
.month_left {
  position: relative;
}

.month_right {
  position: relative;
}

.mo_left {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  background: url(../images/cl.svg) no-repeat center;
  top: 0;
  cursor: pointer;
}

.mo_right {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  background: url(../images/cr.svg) no-repeat center;
  top: 0;
  right:0;
  cursor: pointer;
}

.mo_left_name {
  position: relative;
}

.close_clnd {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 20px;
  top: 20px;
  background: url(../images/clocalend.svg) no-repeat center;
}

//Кнопки
.nav_links {
  margin-top: 30px;
}

.brd_green {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #32AAA7;
  float: left;
  margin-top: 10px;
  margin-right: 16px;
  padding: 8px 50px;
  border: 1px solid #32AAA7;
}

.brd_green.fill.w100 {
  display: block;
  width: 100% !important;
  float: left;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 15px;
}

.brd_green.fill {
  background: #32AAA7;
  color: #fff;
}

.brd_green.fill:hover {
  background: #3D8987;
  color: #fff;
}

.brd_green:hover {
  color: #FFF;
  background: #32AAA7;
  padding: 8px 50px;
}

.reset_pass {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  line-height: 16px;
  color: #383A41;

  a {
    color: #32AAA7;

    &:hover {
      color: #383A41;
      text-decoration: underline;
    }
  }
}

.w50.last {
  margin-left: 2%;
}

.returns .modal_line {
  padding-top: 25px;
}

.returns .modal_line .f_part {
  padding-bottom: 0;
}

//Модалки
.modal_partner,
.modal_send,
.modal_view,
.modal_sale,
.modal_add_cat,
.modal_transfer,
.modal_group {
  display: none;
  position: fixed;
  width: 93%;
  height: 100%;
  background: #fff;
  left: 100px;
  top: 20px;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.24);
  z-index: 15;
  overflow-y: scroll;

  .line_param_down {
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(../images/array_down.png) no-repeat center;
    right: -5px;
    top: 16px;
  }
}

.select {
  &_one {
    float: left;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #9A9A9A;
    margin-right: 80px;
    cursor: pointer;
  }
}

.select_one.active {
  color: #383A41;
}

.select_one.mailslog {
  background: url(../images/lp.svg) no-repeat 0 center;
  padding-left: 40px;
}

.select_one.mailslog.active {
  background: url(../images/la.svg) no-repeat 0 center;
}

.comment_block {
  display: none;
}

.table_array {
  position: absolute;
  top: 5px;
  right: 10px;
  float: right;

  &_bottom {
    position: absolute;
    right: 0;
    top: 20px;
  }
}

.input_edit {
  display: block;
  width: 40%;
  border: 0;
  border-bottom: 1px solid #32AAA7;
  outline: none;
  padding: 5px 0;
}

//Чекбоксы
.line_param_checkbox {
  display: none;
}

.line_param_checkbox + label {
  font-family: FuturaPT-Book;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #383A41;
  align-items: center;
  user-select: none;
  margin-left: 20px;
}

.line_param_checkbox + label::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 7px;
  border: 2px solid #DEE2F3;
  box-sizing: border-box;
  border-radius: 2px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.line_param_checkbox:checked + label::before {
  border-color: #32AAA7;
  background-color: #32AAA7;
  background-image: url("../images/done.svg");
  background-size: auto;
}

.check_block {
  position: relative;
  width: 15%;
  float: left;
  margin: 20px 0 0 20px;
}

.modal_check_block {
  position: relative;
  width: 25%;
  float: left;
  margin-left: 20px;

  .line_param_checkbox + label {
    margin-left: 20px;
  }

  .line_param_checkbox + label::before {
    top: 0;
  }
}

.line_param_checkbox + label.line_param_label_table::before {
  top: -7px;
}

.line_param_checkbox:checked + label.line_param_label_table_top::before {
  border-color: #FFFFFF;
  background-color: #FFFFFF;
  background-image: url("../images/done_green.svg");
  background-size: auto;
}

//Аккаунт
.acc_nav {
  z-index: 99999;
}

.acc_nav {
  display: none;
  position: absolute;
  width: 370px;
  top: 60px;
  right: 0;
  background: #FFFFFF;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  border-radius: 1px;
}

.acc_n.active .acc_nav {
  display: block;
}

.acc_nav ul li {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #DEE2F3;
}

.acc_nav ul li.logout {
  background: #DEE2F3;
}

.acc_nav ul li a {
  font-size: 16px;
  line-height: 16px;
  color: #383A41;
}

.acc_nav ul li a span {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  color: #9A9A9A;
  margin-bottom: 5px;
}
.acc_nav ul li.logout a {
  display: block;
  background: url(../images/exit.svg) no-repeat 100% center;
  color: #9A9A9A;
}

//Стили для адаптива
.component_head_cart {
  width: 100%;
  padding: 24px 16px;
  background: #F3F6FF;
  border-radius: 1px;

  &_l, &_r {
    display: inline-block;

    span {
      position: absolute;
      bottom: 0;
      font-family: FuturaPT-Book;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #32AAA7;
    }
  }

  &_l {
    width: 65%;

    .cart_line_param {
      display: inline-block;
      width: 17%;
      height: 85px;
      padding-right: 40px;
      vertical-align: text-top;

      &:last-child {
        border-right: 2px solid #C4C4C4;
      }
    }
  }

  &_r {
    width: 34%;

    .cart_line_param {
      display: inline-block;
      width: 30%;
      height: 85px;
      vertical-align: text-top;
    }
  }
}

.nav_links_adaptive {
  display: none;
}

.cart_line_param {
  display: inline-block;
  position: relative;
  width: 20%;
}

.line_param_cart {
  width: 100%;
  position: relative;
  padding: 20px 16px;
  border-bottom: 1px solid #BABABA;
  border-left: 1px solid #BABABA;
  border-right: 1px solid #BABABA;
  box-sizing: border-box;
  border-radius: 1px;

  .cart_title {
    font-family: FuturaPT-Demi;
    font-style: normal;
    font-size: 14px;
    line-height: 12px;
    color: #383A41;
    font-weight: bold;
  }
}

.cat_edit {
  background: #F3F6FF;
  box-sizing: border-box;
  padding: 6px 16px;

  .input_edit_title {
    font-family: FuturaPT-Book;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #9A9A9A;
  }

  .input_edit {
    font-family: FuturaPT-Book;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #383A41;
  }

  .r_p_cart {
    margin-top: 15px;
  }
}

.l_p_cart,
.c_p_cart {
  display: inline-block;
  width: 44%;
}

.r_p_cart {
  display: inline-block;
  width: 10%;
  float: right;

  .cart_link {
    float: right;
  }
}

//Редактирование инпутов
.input_edit {
  width: 100%;
  background: #F3F6FF;
}

.line_param_cart-edit {
  position: relative;
  background: #F3F6FF;
  border: 1px solid #BABABA;
  box-sizing: border-box;
  border-radius: 1px;

  .r_p_cart {
    position: absolute;
    top: 35px;
    right: 18px;

    a {
      float: right;
    }
  }
}

.cart_link {
  font-family: FuturaPT-Book;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px dashed #32AAA7;
  color: #32AAA7;
}

.cart_sub_title {
  margin: 42px 0;
}

.cart_line_param_clear {
  position: absolute;
  width: 24px;
  height: 24px;
  background: url(../images/clear.svg) no-repeat center;
  right: -5px;
  top: 2px;
}

.cart_rp_title {
  margin-bottom: 36px;
}

//Блок для табов
.tabs_block {
  border-bottom: 1px solid #C4C4C4;;

  &_text {
    display: inline-block;
    margin-right: 5%;
    padding-bottom: 12px;
    font-family: FuturaPT-Book;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #9A9A9A;
  }

  &_text.active {
    border-bottom: 2px solid #32AAA7;
    font-weight: bold;
  }
}

.table_input {
  background: #F3F6FF;
  border: 1px solid #BABABA;
  box-sizing: border-box;
  border-radius: 1px;
}

.input_edit_title {
  font-family: FuturaPT-Book;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #9A9A9A;
}

.table_link_block {
  float: right;
  margin-top: 15px;
}

//Блок для иконок с геолоколациец и прочими функциями
.tooltip_block {
  position: relative;
  float: right; 
  margin-top: 10px;

  &_hover {
    display: none;
    position: absolute;
    width: 130px;
    top: -55px;
    right: -10px;
    background: #E5E5E5;
    padding: 8px 16px;
    font-family: FuturaPT-Book;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 12px;
    text-align: center;
    color: #383A41;
  }

  .triangle {
    background: #E5E5E5;

    &:after {
      content: ''; 
      position: absolute;
      left: 75px; 
      bottom: -20px;
      border: 10px solid transparent; 
      border-top: 10px solid #E5E5E5;
     }
  }

  .triangle_structure {
    background: #E5E5E5;

    &:after {
      content: ''; 
      position: absolute;
      right: 20px; 
      bottom: -20px;
      border: 10px solid transparent; 
      border-top: 10px solid #E5E5E5;
     }
  }

  img {
    cursor: pointer;
  }
}

.icon_link_block {
  display: inline-block;
  position: relative;
  margin-right: 10px;

  &:hover .tooltip_block_hover{
    display: block;
  }
}

.icon_link {
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.icon_search {
  background-image: url("../images/search_unactive.svg");

  &:hover {
    background-image: url("../images/search_active.svg");
  }
}

.icon_structure {
  background-image: url("../images/icon_structure_unactive.svg");

  &:hover {
    background-image: url("../images/icon_structure_active.svg");
  }
}

.icon_open {
  background-image: url("../images/icon_open_unactive.svg");

  &:hover {
    background-image: url("../images/icon_open_active.svg");
  }
}

.icon_close {
  background-image: url("../images/icon_close_unactive.svg");

  &:hover {
    background-image: url("../images/icon_close_active.svg");
  }
}

.icon_transfer {
  background-image: url("../images/icon_transfer_unactive.svg");

  &:hover {
    background-image: url("../images/icon_transfer_active.svg");
  }
}

.icon_input {
  background-image: url("../images/icon_input_unactive.svg");

  &:hover {
    background-image: url("../images/icon_input_active.svg");
  }
}

.icon_withdraw {
  background-image: url("../images/icon_withdraw_unactive.svg");

  &:hover {
    background-image: url("../images/icon_withdraw_active.svg");
  }
}

.icon_create {
  background-image: url("../images/icon_create_unactive.svg");

  &:hover {
    background-image: url("../images/icon_create_active.svg");
  }
}

//Скролл
//::-webkit-scrollbar {
//  width: 1px;
//  height: 1px;
//}
//
//::-webkit-scrollbar-track {
//  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//  opacity: 0.64;
//  border-radius: 10px;
//}
//
//::-webkit-scrollbar-thumb {
//  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
//  background: #383A41;
//  opacity: 0.64;
//  border-radius: 10px;
//}
